<% include layout/header %>

<div class="px-8 py-4 flex-1">
  <div class="bg-orange-100 rounded-lg px-4 py-3">
    <h1 class="text-xl font-semibold">Create a new User</h1>
    <form action="/users/create" method="post" class="mt-2">
      <fieldset class="border border-gray-300 px-6 py-4">
        <legend class="text-lg">Information Of User</legend>
        <div class="flex justify-between gap-12">
          <div class="flex-1 w-full">
            <label for="name" class="block mb-1">Name</label>
            <input
              type="text"
              name="name"
              placeholder="Enter the name"
              id="name"
              class="py-2 px-3 w-full rounded-md"
            />
          </div>
          <div class="flex-1 w-full">
            <label for="phoneNumber" class="block mb-1">Phone Number</label>
            <input
              type="text"
              placeholder="Enter the phone number"
              name="phoneNumber"
              id="phoneNumber"
              class="py-2 px-3 w-full rounded-md"
            />
          </div>
          <div class="flex-1 w-full">
            <label for="email" class="block mb-1">Email</label>
            <input
              type="text"
              placeholder="Enter the email"
              name="email"
              id="email"
              class="py-2 px-3 w-full rounded-md"
            />
          </div>
          <div class="flex-1 w-full">
            <label for="age" class="block mb-1">Age</label>
            <input
              type="number"
              min="1"
              placeholder="Enter the age"
              name="age"
              id="age"
              class="py-2 px-3 w-full rounded-md"
            />
          </div>
        </div>
        <div class="flex justify-between mt-4 gap-12">
          <div class="flex-1 w-full">
            <label for="gender" class="block mb-1">Gender</label>
            <select
              name="gender"
              id="gender"
              class="py-2 px-3 w-full rounded-md"
            >
              <option value="MALE">Male</option>
              <option value="FEMALE">Female</option>
            </select>
          </div>
          <div class="flex-1 w-full">
            <label for="office" class="block mb-1">Office</label>
            <input
              type="text"
              placeholder="Enter the office"
              name="office"
              id="office"
              class="py-2 px-3 w-full rounded-md"
            />
          </div>
          <div class="flex-1 w-full">
            <label for="position" class="block mb-1">Position</label>
            <input
              type="text"
              placeholder="Enter the position"
              name="position"
              id="position"
              class="py-2 px-3 w-full rounded-md"
            />
          </div>
          <div class="flex-1 w-full">
            <label for="startDate" class="block mb-1">Start Date</label>
            <input
              type="date"
              name="startDate"
              id="startDate"
              class="py-2 px-3 w-full rounded-md"
            />
          </div>
        </div>
        <div class="mt-4">
          <label for="startDate" class="block mb-1">Address</label>
          <input
            type="text"
            name="address"
            placeholder="Enter the address"
            id="address"
            class="py-2 px-3 w-full rounded-md"
          />
        </div>
        <div class="mt-4">
          <button
            type="submit"
            class="bg-[#0077bb] text-white float-right py-2 rounded-md cursor-pointer px-3"
          >
            Create
          </button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<script>
  jQuery.validator.addMethod(
    'phoneVN',
    function (phoneNumber, element) {
      phoneNumber = phoneNumber.replace(/\s+/g, '');
      return (
        this.optional(element) ||
        (phoneNumber.length > 9 &&
          phoneNumber.match(/(03|05|07|08|09|01[2|6|8|9])+([0-9]{8})\b/))
      );
    },
    'Not valid Vietnamese phone number',
  );

  $('form').validate({
    rules: {
      name: {
        required: true,
        maxlength: 255,
      },
      phoneNumber: {
        required: true,
        phoneVN: true,
      },
      email: {
        required: true,
        maxlength: 255,
        email: true,
      },
      age: {
        required: true,
        maxlength: 11,
      },
      gender: {
        required: true,
      },
      office: {
        required: true,
      },
      position: {
        required: true,
      },
      startDate: {
        required: true,
      },
      address: {
        required: true,
      },
    },
  });
</script>

<% include layout/footer %>
