    <footer class="bg-orange-500 py-3 text-white">
        <p class="text-center text-xl">
            © Copyright by Nguyen Ngoc Chinh - BWV Intern Curriculum.
        </p>
    </footer>
  <div>
</body>
</html>